extends layout

block content
  h1= name
  if paid
    h2 Here is the product you have paid for.
    iframe(width="560" height="315" src="//www.youtube.com/embed/U-2fPDPRRNI" frameborder="0" allowfullscreen)
  else
    p Price: $#{price}
    form(name="buy", action="/product", method="post")
        input(type="hidden", name="name", value="#{name}")
        input(type="hidden", name="price", value="#{price}")
        input(type="submit", value="Buy")

